<!-- <app-comment [comments]="comments[0]"></app-comment>
<app-comment [comments]="comments[1]"></app-comment> -->

<!-- <div *ngIf="loading" class="loading">Loading...</div>
<app-comment
  *ngFor="let comment of comments; let i = index"
  [comment]="comment"
></app-comment> -->
<app-error></app-error>

<div *ngIf="CommentsService.comments" [ngStyle]="{ position: 'relative' }">
  <app-modal></app-modal>
  <input [(ngModel)]="search" class="search" placeholder="search comment..." />

  <div *ngIf="loading" class="loading">Loading...</div>
  <app-comment
    *ngFor="
      let comment of CommentsService.comments | filterComments: search;
      let i = index
    "
    [comment]="comment"
  ></app-comment>
  <button (click)="modalService.open()" class="open">+</button>
</div>

<!-- <app-app-top-bar></app-app-top-bar>

<app-product-list></app-product-list> -->
