p {
  position: relative;
  width: 100%;
  color: white;
  background-color: tomato;
  padding: 20px;
}

button {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  background-color: transparent;
  border: none;
  padding: 20px;
  cursor: pointer;
}
